# Lesson introduction: Getting named entities from documents

### <font color='lightgreen'> nltk </font>
NLTK is a leading platform for building Python programs to work with human language data.  One feature is Named Entity Recognition.  This is a subtask of information extraction that seeks to locate and classify named entities in text into pre-defined categories such as the names of persons, organizations, or locations.

In our class, the function gettext in the package pywand uses nltk to return location names.

Values returned by gettext will be stored in a pandas DataFrame that we will call df_entities.

We'll see the results aren't perfect.  Since we save the output to a pandas Dataframe, you can take concepts learned in the introductory and intermediate courses to parse and clean the data up.  For sake of time, we won't do that in this lesson.

The exercise in lesson 2 will walk you through the process of creating df_entities from the values returned by gettext.

But before we get started, let's review a few things first for a quick reminder of how pandas DataFrames work.

### <font color='lightgreen'> Define column names in new DataFrame </font>

In [2]:
import pandas as pd

In [5]:
df_demo = pd.DataFrame(columns=["col1","col2","col3"])
df_demo.head()

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

### <font color='lightgreen'> Populate DataFrame from a list </font>

In [6]:
mylist = [1,2,3]
df_demo["col1"] = mylist
df_demo.head()

   col1 col2 col3
0     1  NaN  NaN
1     2  NaN  NaN
2     3  NaN  NaN

### <font color='lightgreen'> View DataFrame by column </font>

In [7]:
df_demo["col1"]

0    1
1    2
2    3
Name: col1, dtype: int64

In [8]:
df_demo["col2"]

0    NaN
1    NaN
2    NaN
Name: col2, dtype: object

### To start the lesson

<br> Click on the link to get started [Exercises](Exercises_Solutions.ipynb)<br>
and scroll down to the second lesson.